<h1>
  Character #<%= @the_character.id %> details
</h1>

<div>
  <a href="/characters">
    Go back
  </a>
</div>

<div>
  <a href="/delete_character/<%= @the_character.id%>">
    Delete character
  </a>
</div>

<hr>
  <form action="/modify_character_record/<%= @the_character.id%>" method="post" enctype="multipart/form-data">
    <div>
      <label for="name_field">Name</label>
      <input id="name_field" type="text" name="name" value="<%= @the_character.name %>">
    </div>

    <div>
      <label for="photo_field">Photo</label>
      <input id="photo_field" type="file" name="photo">
    </div>

    <button>
      Update character
    </button>
  </form>
</hr>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_character.name %>
  </dd>

  <dt>
    Photo
  </dt>
  <dd>
    <% if @the_character.photo.attached? %>
      <%= image_tag @the_character.photo, style: "width:500px;" %>
    <% else %>
      No image available
    <% end %>
  </dd>

</dl>
