<h1><%= @player_turn %> - Select Your Champion</h1>

<form action="<%= chose_champion_path(game_id: @game.id) %>" method="post">
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Select</th>
        <th>Character Name</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td>
            <input type="radio" name="champion_id" value="<%= character.id %>" id="character_<%= character.id %>">
          </td>
          <td>
            <label for="character_<%= character.id %>"><%= character.name %></label>
          </td>
          <td>
            <% if character.photo.attached? %>
              <img src="<%= rails_blob_path(character.photo, only_path: true) %>" alt="<%= character.name %>" style="width: 100px; height: 100px;">
            <% else %>
              <p>No image available</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- CSRF Token for Security -->
  <%= csrf_meta_tags %>

  <button type="submit">Confirm Champion</button>
</form>
