<!DOCTYPE html>
<html>
  <head>
    <title>Guess Who!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div><a href="/">Home</a></div>

      <% if user_signed_in? %>
        <div><a href="/users/sign_out">Sign out</a></div>
        <div><a href="/users/edit">Edit</a></div>
      <% else %>
        <div><a href="/users/sign_up">Sign up</a></div>
        <div><a href="/users/sign_in">Sign in</a></div>
      <% end %>
    </nav>


    <% if notice.present? %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
